.App {
  text-align: center;
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.website-title{
  font-size: 2rem;
  font-weight: bold;
  font-family: math;
  color: rgb(100, 7, 186);
  text-transform: uppercase;
}
.navbar{
  padding: 5px 15px;
  background-color: rgb(100, 7, 186);
  font-size: 1.2rem;
  margin: 5px auto;
}
.nav-link{
  text-decoration: none;
  font-family: math;
  padding: 5px;
  color: white !important;
}

.nav-link:hover{
  text-decoration: underline;
  transition:2s;
}

.nav-card{
  margin: 10px;
}

.nav-card img{
  height: 180px !important;
}
.latest-news{
  width: 23%;
}
.latest-news-card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Vertically align content */
  justify-content: center;
}

.image {
  flex: 1; /* Take up available space */
  max-width: 50%; /* Limit image width */
  padding: 20px; /* Add spacing around the image */
}

.image img {
  max-width: 100%; /* Make sure the image doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
}
.news-category{
  color:rgb(100, 7, 186)
}
.latest-news-heading{
  font-size: 1.8rem;
  font-weight: bold;
  font-family: math;
  color: black;
  text-transform: capitalize;
  margin-top: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
